.about-services {
  padding: 0 20px 50px;
}
.about-services .home-about-col1 h3,
.about-babysitter .home-about-col1 h3 {
  font-size: 1.8rem;
}
.about-services .services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-services .services .service {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px;
}
.about-services .services .service .imgBx {
  position: relative;
  margin-right: 25px;
}
.about-services .services .service .imgBx .imgBg1 {
  background: #ffd15c;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -20%;
  left: -10%;
  z-index: -1;
  transform: rotate(45deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.about-services .services .service .imgBx .imgBg1:hover {
  transform: rotate(-360deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.about-services .services .service .imgBx .imgBg2 {
  background: #f3e2b7;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 10%;
  left: -10%;
  z-index: -1;
  transform: rotate(45deg);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.about-services .services .service .imgBx img {
  width: 35px;
  height: 35px;
  margin: 10px 0 0 5px;
  /* animation: serviceImg 1s ease-in-out; */
}
/* @keyframes serviceImg {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
} */
.about-services .services .service .textBx {
  width: 250px;
}
.about-services .services .service .textBx h3 {
  color: #ffd15c;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.about-services .services .service .textBx p {
  color: var(--mainGrey);
  line-height: var(--line-height);
  max-width: 240px;
  width: 100%;
}
.about-sec {
  margin: 30px 0;
}
.about-sec .img-col {
  display: none;
}
.about-sec .text-col {
  background-color: rgb(245, 245, 245);
  padding: 50px 20px;
}

.about-sec .text-col h3 {
  color: var(--primaryColor);
  margin-bottom: 25px;
  font-size: 1.3rem;
}
.about-sec .text-col p {
  color: var(--mainGrey);
  margin-bottom: 30px;
  line-height: var(--line-height);
}
.about-sec .text-col .tick {
  margin-bottom: 15px;
  display: flex;
}
.about-sec .text-col .tick .icon {
  color: var(--secColor);
  margin-right: 8px;
  background: white;
  border-radius: 50%;
}
.about-sec .text-col .tick .text {
  color: var(--primaryColor);
}
.about-sec .text-col button {
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  background: transparent;
  margin-top: 30px;
}
.about-sec .text-col a {
  text-transform: capitalize;
  color: var(--mainWhite);
  background: var(--secColor);
  border: 1px solid var(--secColor);
  border-radius: var(--radius);
  padding: 10px 40px;
  font-size: 1.1rem;
}
.about-babysitter {
  padding: 50px 0;
}
.about-babysitter .babysitters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-babysitter .babysitters .babysitter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 540px;
  width: 100%;
  margin: 20px;
  padding: 0 0 30px 0;
  border-radius: 4px;
  box-shadow: -1px 5px 15px 0px #e6e6e6;
}
.about-babysitter .babysitters .babysitter .imgBx {
  max-width: 540px;
  width: 100%;
  height: 100%;
}
.about-babysitter .babysitters .babysitter .imgBx img {
  width: 100%;
  height: 100%;
}
.about-babysitter .babysitters .babysitter h3 {
  margin: 30px 0;
  font-size: 1.4rem;
  color: var(--primaryColor);
}
.about-babysitter .babysitters .babysitter .icons span {
  padding: 7px 7px 0;
  border-radius: 50%;
  color: white;
  font-size: 1.6rem;
  margin-right: 13px;
  cursor: pointer;
}
.about-babysitter .babysitters .babysitter .icon1 {
  background: var(--primaryColor);
}
.about-babysitter .babysitters .babysitter .icon2 {
  background: rgba(48, 164, 237, 0.736);
}
.about-babysitter .babysitters .babysitter .icon3 {
  background: rgb(20, 86, 161);
}

@media screen and (min-width: 768px) {
  .about-sec .text-col {
    padding: 50px 50px;
  }
  .about-sec .text-col h3 {
    font-size: 34px;
  }
  .about-babysitter .babysitters .babysitter {
    max-width: 400px;
    width: 45%;
    margin: 15px;
  }
  .about-services .home-about-col1 h3,
  .about-babysitter .home-about-col1 h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .about-sec {
    display: flex;
  }
  .about-sec .img-col {
    display: block;
    background-image: url("../assets/abcol.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 50%;
    min-height: 100%;
  }
  .about-sec .text-col {
    width: 50%;
  }
  .about-babysitter {
    padding: 50px 0;
  }
  .about-babysitter .babysitters {
    flex-wrap: nowrap;
    width: min(124.5ch, 100% - 2.3rem);
    margin-inline: auto;
  }
  .about-babysitter .babysitters .babysitter {
    max-width: 100%;
    width: 30.5%;
    margin: 13px;
  }
  .about .home-about .img-cont::before {
    content: "";
    position: absolute;
    background-image: url(../assets/abpink.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.2;
  }
  .about .home-about .img-cont .imgBx img {
    border-radius: 4%;
    position: absolute;
    left: 30%;
    bottom: 10%;
  }
  .about-services .home-about-col1 h3,
  .about-babysitter .home-about-col1 h3 {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .about-babysitter .babysitters {
    width: min(138ch, 100% - 4rem);
  }
}
