.home p {
  font-size: 1.1rem;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(240, 246, 253); */
  background-color: rgb(248, 246, 242);
  padding: 60px 20px;
  height: 100%;
  width: 100%;
}
.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heroText h1 {
  color: var(--primaryColor);
  margin-bottom: 30px;
  text-align: center;
}
.heroText p {
  color: var(--primaryColor);
  margin-bottom: 30px;
  text-align: center;
}
.heroText button {
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  background: transparent;
}
.heroText a {
  text-transform: capitalize;
  color: var(--mainWhite);
  background: var(--secColor);
  border: 1px solid var(--secColor);
  border-radius: var(--radius);
  padding: 10px 40px;
  font-size: 1.1rem;
}
.heroImg {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  max-width: 540px;
}
.heroImgBx {
  width: 100%;
  height: 100%;
}
.heroImgBx img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5%;
  animation: breathe infinite 2s;
}
@keyframes breathe {
  0% {
    margin-top: 60px;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 60px;
  }
}
.homeSec1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.homeSec1 .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 14px #ebebeb;
  margin: 20px;
  position: relative;
  max-width: 540px;
  width: 100%;
  padding: 50px 0;
}
.homeSec1 .box:hover::before {
  width: 100%;
  height: 100%;
  border-left: 2px solid var(--secColor);
  border-top: 2px solid var(--secColor);
}
.homeSec1 .box::before {
  content: "";
  position: absolute;
  border-left: 2px solid var(--secColor);
  border-top: 2px solid var(--secColor);
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  /* transition: .5s; */
  -webkit-transition: 0.5s;
}
.homeSec1 .box:hover::after {
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--secColor);
  border-bottom: 2px solid var(--secColor);
}
.homeSec1 .box::after {
  content: "";
  position: absolute;
  border-right: 2px solid var(--secColor);
  border-bottom: 2px solid var(--secColor);
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  /* transition: .5s; */
  -webkit-transition: 0.5s;
}
.homeSec1ImgBx {
  width: 100px;
}
.homeSec1ImgBx img {
  width: 100%;
}
.homeSec1 .box h3 {
  padding: 10px;
  color: var(--primaryColor);
  font-size: 1.4rem;
}
.homeSec1 .box p {
  padding: 10px 0 0 0;
  color: var(--mainGrey);
}
.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 20px;
}
.home-about-cont {
  max-width: 580px;
}
.home-about-col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}
.home-about-col1 h6 {
  color: var(--secColor);
  font-size: 1.3rem;
  padding-bottom: 5px;
  font-family: "Fredoka One", cursive;
}
.home-about-col1 h3 {
  color: var(--primaryColor);
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.home-about-col1 p {
  line-height: var(--line-height);
  color: var(--mainGrey);
}
.home-about-col1-imgBx {
  padding-bottom: 20px;
}
.home-about-col2 {
  margin: 10px 0;
  width: 100%;
}
.home-about-col2-list {
  padding-bottom: 20px;
}
.home-about-col2-list li {
  padding-bottom: 6px;
  color: var(--primaryColor);
  font-size: 1.1rem;
}
.home-about-col2-list li::before {
  content: "·";
  font-size: 100px;
  vertical-align: middle;
  line-height: 20px;
  color: var(--secColor);
}
.home-about-col2-list p {
  line-height: var(--line-height);
  padding-left: 25px;
  color: var(--mainGrey);
}
.home-about button {
  display: flex;
  justify-content: left;
  align-self: flex-start;
  align-items: center;
  border: none;
  background: transparent;
  margin-bottom: 10px;
}
.home-about button a {
  text-transform: capitalize;
  color: var(--mainWhite);
  background: var(--secColor);
  border: 1px solid var(--secColor);
  border-radius: var(--radius);
  padding: 10px 40px;
  font-size: 1.1rem;
}
.home-about .img-cont {
  display: none;
}
.home-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 50px 20px;
  background-color: rgb(245, 245, 245);
}
.home-features-reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-features-reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-features-reason .imgBx {
  /* background-color: red; */
  padding: 18px;
  border-radius: 50%;
  text-align: center;
  margin: 30px 0 10px 0;
}
.home-features-reason .imgBx img {
  /* background-color: red; */
  padding: 10px 0;
  border-radius: 50%;
  width: 70%;
  height: 80%;
}
.home-features-reason .imgBx.one {
  background-color: rgb(152, 88, 152);
}
.home-features-reason .imgBx.two {
  background-color: rgb(255, 86, 114);
}
.home-features-reason .imgBx.three {
  background-color: rgb(81, 81, 137);
}
.home-features-reason .imgBx.four {
  background-color: rgb(235, 109, 109);
}
.home-features-reason .imgBx.five {
  background-color: rgb(222, 8, 80);
}
.home-features-reason h3 {
  color: var(--primaryColor);
}
.home-features .home-about-col1 h3,
.home-program .home-about-col1 h3,
.home-event .home-about-col1 h3,
.home-plan .home-about-col1 h3,
.home-member .home-about-col1 h3,
.home-blog .home-about-col1 h3,
.home-testimonials .home-about-col1 h3 {
  font-size: 1.8rem;
}
.home-program {
  margin: 50px auto;
}
.home-program button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  margin: 30px auto;
}
.home-program button a {
  color: var(--mainWhite);
  background: var(--secColor);
  border: 1px solid var(--secColor);
  border-radius: var(--radius);
  padding: 10px 40px;
  font-size: 1.1rem;
}
.home-event {
  margin: 10px 0;
  padding: 50px 0 20px 0;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-eventBxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.home-eventBx {
  background-color: white;
  padding: 40px 40px 20px 40px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  max-width: 540px;
  margin: 20px;
}
.home-eventBx .time {
  color: var(--secColor);
  display: flex;
}
.home-eventBx .time .icon {
  margin-right: 2px;
}
.home-eventBx .textBx {
  padding: 15px 0;
}
.home-eventBx .textBx h3 {
  padding-bottom: 10px;
  color: var(--primaryColor);
  font-size: 1.3rem;
}

.home-eventBx .textBx p {
  padding-bottom: 15px;
  line-height: var(--line-height);
  color: var(--mainGrey);
}
.home-eventBx .textBx a {
  display: flex;
  color: var(--primaryColor);
  font-size: 1rem;
}
.home-eventBx .textBx a .icon {
  margin-top: 2px;
}
.home-plan {
  margin: 10px 0;
  padding: 50px 0;
}
.home-plan .textBxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 10px; */
}
.home-plan .textBx {
  max-width: 540px;
  width: 100%;
}

.home-plan .textBx.one,
.home-plan .textBx.two,
.home-plan .textBx.three {
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.home-plan .textBx.one {
  background-color: rgb(169, 157, 143);
}
.home-plan .textBx.two {
  background-color: rgb(177, 147, 137);
}
.home-plan .textBx.three {
  background-color: rgb(139, 180, 191);
}

.home-plan .textBx h3,
.home-plan .textBx h2,
.home-plan .textBx p,
.home-plan .textBx button {
  padding-bottom: 15px;
  color: white;
}
.home-plan .textBx h2 {
  font-size: 2.5rem;
}
.home-plan .textBx h3 {
  font-size: 1.8rem;
}

.home-plan .textBx button {
  border: none;
  background: transparent;
  margin-top: 15px;
}
.home-plan .textBx button a {
  text-transform: capitalize;
  color: var(--primaryColor);
  background: white;
  border-radius: var(--radius);
  padding: 10px 40px;
  font-size: 1.1rem;
}
.home-testimonials {
  background-color: rgb(177, 147, 137);
  margin: 10px 0 0 0;
  padding: 50px 0;
}
.home-testimonials .home-about-col1 h6 {
  color: white;
}
.home-testimonials .textBxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-testimonials .textBx {
  max-width: 540px;
  width: 100%;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 4px;
}
.home-testimonials .textBx .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.home-testimonials .textBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.home-testimonials .textBx p {
  font-family: "Fredoka One", cursive;
  color: var(--primaryColor);
}
.home-testimonials .textBx h3 {
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 600;
  color: var(--secColor);
}
.home-member {
  /* margin: 10px 0; */
  padding: 50px 0;
  background-color: rgb(245, 245, 245);
}
.home-member .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-member .boxes .box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  max-width: 540px;
  width: 100%;
  padding-top: 40px;
  margin: 20px;
  transition: var(--mainTransition);
}
.home-member .boxes .box:hover {
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.08);
}
.home-member .boxes .box .imgBx img {
  border: 1px solid var(--light-grey);
  border-radius: 50%;
  transition: var(--mainTransition);
}
.home-member .boxes .box .imgBx img:hover {
  border: 2px solid var(--secColor);
}
.home-member .boxes .box h3 {
  margin-top: 30px;
  color: var(--primaryColor);
  font-size: 1.4rem;
}
.home-member .boxes .box p {
  margin-top: 10px;
  color: var(--secColor);
}
.home-member .boxes .box .socials {
  background-color: var(--secColor);
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}
.home-member .boxes .box .socials span {
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px 10px 5px 10px;
  font-size: 1.5rem;
  color: var(--secColor);
}
.home-blog {
  margin: 10px 0;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 60px;
    width: 100%;
  }
  .heroText {
    align-items: flex-start;
    width: 50%;
    margin-right: 10px;
    max-width: 400px;
  }
  .heroText h1 {
    text-align: left;
  }
  .heroText p {
    text-align: left;
  }
  .heroImg {
    max-width: 400px;
    width: 50%;
  }
  .homeSec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 50px 0;
    max-width: 100%;
  }
  .homeSec1 .box {
    margin: 10px;
    max-width: 400px;
    width: 45.5%;
    padding: 40px 20px;
    text-align: center;
  }
  .home-about-cont {
    max-width: 820px;
  }
  .home-features-reasons {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .home-features-reason {
    margin: 10px;
    max-width: 400px;
    width: 45.5%;
  }
  .home-features-reason .imgBx img {
    padding: 20px;
    width: 100%;
  }
  .home-features-reason h3 {
    font-size: 1.3rem;
  }
  .home-eventBxs {
    max-width: 100%;
  }
  .home-eventBx {
    margin: 10px;
    max-width: 400px;
    width: 45.5%;
  }
  .home-plan .textBxs {
    max-width: 100%;
  }
  .home-plan .textBx {
    max-width: 400px;
    width: 45.5%;
  }
  .home-plan .textBx.one,
  .home-plan .textBx.two,
  .home-plan .textBx.three {
    margin: 10px;
  }
  .home-testimonials .textBxs {
    max-width: 100%;
  }
  .home-testimonials .textBx {
    max-width: 400px;
    width: 45.5%;
    margin: 10px;
    padding: 40px;
  }
  .home-member .boxes {
    max-width: 100%;
  }
  .home-member .boxes .box {
    max-width: 400px;
    width: 45.5%;
    margin: 10px;
  }
}
