html {
  --spacing: 0.3px;
  --lineHeight: 25px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: -webkit-linear-gradient(left, #7579ff, #b224ef); */
  background: var(--mainWhite);
  font-family: "Nunito", sans-serif;
  /* margin-top: -70px; */
}
.cont {
  width: 550px;
  height: auto;
  padding: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form.sign-up,
.form.sign-in {
  margin-top: 50px;
}
.form h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 15px;
  letter-spacing: var(--spacing);
  color: var(--primaryColor);
}
.form label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
  letter-spacing: var(--spacing);
}
.form label span {
  font-size: 14px;
  font-weight: 500;
  color: #505f75;
  text-transform: uppercase;
}
.form input {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  outline: none;
}
/* button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
} */
.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  /* background: -webkit-linear-gradient(left, #7579ff, #b224ef); */
  background: var(--primaryColor);
  letter-spacing: var(--spacing);
  transition: 0.5s linear all;
  padding: 10px;
  border: 1px solid var(--primaryColor);
  display: block;
  margin: 40px auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.forgot-pass {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #0c0101;
  cursor: pointer;
  letter-spacing: var(--spacing);
  padding-bottom: 30px;
}
.cont .img-text.m-up,
.cont.cont.s-signup .img-text.m-in {
  text-align: center;
  margin: 10px 40px 15px 40px;
}
.cont .img-text.m-up h2,
.cont .img-text.m-in h2 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  letter-spacing: var(--spacing);
  color: var(--secColor);
}
.cont .img-text.m-up p,
.cont .img-text.m-in p {
  letter-spacing: var(--spacing);
  line-height: var(--lineHeight);
  font-weight: 500;
  font-size: 15px;
}
.cont .img-btn span.m-up,
.cont .img-btn span.m-in {
  border: 2px solid var(--primaryColor);
  border-radius: 30px;
  display: -webkit-box;
  -webkit-box-pack: center;
  width: 110px;
  margin: 0 auto 80px auto;
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cont .img-text.m-in {
  display: flex;
  flex-direction: column;
}
.cont .img-btn span.m-in {
  padding: 7px 20px;
}

/* not toggled */
.cont .sign-up {
  display: none;
}
.cont .img-text.m-in {
  display: none;
}
.cont .img-btn span.m-in {
  display: none;
}

/* toggled */
.cont.s-signup .sign-up {
  display: flex;
}
.cont.s-signup .img-text.m-in {
  display: flex;
}
.cont.s-signup .img-btn span.m-in {
  display: flex;
}
.cont.s-signup .sign-in {
  display: none;
}
.cont.s-signup .img-text.m-up {
  display: none;
}
.cont.s-signup .img-btn span.m-up {
  display: none;
}
/* @media screen and (min-width: 1024px) {
  .section {
    margin: 100px 0;
  }

  .cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(118, 118, 118, 0.3),
      0 0 0 rgba(74, 73, 73, 0.008);
  }

  .form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  .cont.s-signup .sign-in {
    display: flex;
  }
  .form.sign-up {
    margin-top: 0;
  }
  .form h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: var(--spacing);
  }

  .form label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
    letter-spacing: var(--spacing);
  }

  .form label span {
    font-size: 14px;
    font-weight: 500;
    color: #505f75;
    text-transform: uppercase;
  }

  .form input {
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
  }

  .submit:hover {
    border: 1px solid var(--hoverColor);
    background: var(--hoverColor);
  }

  .forgot-pass {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #0c0101;
    cursor: pointer;
    letter-spacing: var(--spacing);
    transition: var(--mainTransition);
  }

  .forgot-pass:hover {
    color: var(--primary-red);
    transition: var(--mainTransition);
  }

  .cont .sub-cont {
    display: flex;
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
  }

  .cont.s-signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
  }

  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }

  .img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("../assets/bluebg.jpeg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  .img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .cont.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
  }

  .img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  .img-text h2 {
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: var(--spacing);
  }

  .img-text p {
    font-size: 15px;
    line-height: var(--lineHeight);
    letter-spacing: var(--spacing);
  }

  .cont.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
  }

  .cont .img-text.m-up,
  .cont.cont.s-signup .img-text.m-in {
    margin: 0;
    text-align: center;
  }

  .cont .img-text.m-up h2,
  .cont .img-text.m-in h2 {
    padding: 3px 0;
    color: var(--mainWhite);
  }
  .cont .img-text.m-up p,
  .cont .img-text.m-in p {
    font-size: 15px;
  }

  .cont .img-text.m-in {
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
  }

  .cont.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .cont.s-signup .img-text.m-up {
    display: flex;
    flex-direction: column;
  }

  .sign-in {
    padding-top: 65px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .cont.s-signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
  }

  .img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }

  .img-btn:after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .img-btn span {
    border: 2px solid #fff;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
    letter-spacing: var(--spacing);
  }

  .cont .img-btn span.m-in {
    display: flex;
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
    width: 100px;
  }
  .cont .img-btn span.m-up {
    border: 2px solid #fff;
    width: 100px;
  }
  .cont .img-btn span.m-in {
    border: 2px solid #fff;
    padding: 7px 10px;
  }

  .cont.s-signup .img-btn span.m-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .cont.s-signup .img-btn span.m-up {
    display: flex;
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
  }

  .cont .sign-up {
    display: flex;
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
  }

  .cont.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
} */
