.nav-center {
  padding: 5px 15px 10px;
}
.nav-center.shadow {
  /* background: var(--mainWhite); */
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
}
.nav-toggle {
  font-size: 1.8rem;
  padding-top: 8px;
  color: var(--mainBlue);
  background: transparent;
  border-color: transparent;
  transition: var(--mainTransition);
  cursor: pointer;
}
.nav-toggle:hover {
  transform: rotate(90deg);
}
.nav-toggle.show {
  color: var(--primary-red);
}
.logo {
  color: var(--primaryColor);
  font-size: 1.2rem;
  font-family: "Fredoka One", cursive;
}
.logo span {
  color: var(--secColor);
  font-family: "Fredoka One", cursive;
}
.links a {
  color: var(--primaryColor);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  margin: 3rem 0.5rem;
  transition: var(--mainTransition);
  text-align: start;
}
.links a:hover {
  color: var(--secColor);
  margin-left: 0.7rem;
  transition: var(--mainTransition);
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.show-container {
  height: 10rem;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log a {
  /* text-transform: uppercase; */
  color: var(--mainWhite);
  background: var(--secColor);
  border-radius: var(--radius);
  padding: 10px;
  transition: var(--mainTransition);
  margin: 0 1.5rem;
}
.log a:hover {
  color: white;
  margin: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .nav-header {
    padding: 0;
  }
  .nav-center {
    width: min(103ch, 100% - 3rem);
    margin-inline: auto;
    /* background-color: aqua; */
    padding: 10px 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav-center {
    width: min(120ch, 100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    /* background-color: rebeccapurple; */
  }
  .nav-center.shadow {
    box-shadow: none;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding-top: 0;
    color: var(--mainBlack);
    margin-left: 15px;
  }
  .links a:hover {
    color: var(--secColor);
  }
  .log {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav-center {
    width: min(133ch, 100% - 4rem);
  }
}
