.profile {
  padding: 50px 20px 20px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-cont {
  max-width: 540px;
  width: 100%;
}
.profileHeader {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
.profileHeader .pageHeader {
  font-size: 1.8rem;
  color: var(--primaryColor);
}
.profileHeader .logOut {
  margin-left: auto;
  color: var(--mainWhite);
  background: var(--secColor);
  border-radius: var(--radius);
  padding: 10px 20px;
  transition: var(--mainTransition);
  border: none;
  font-size: 1.1rem;
}
.profileHeader .logOut:hover {
  padding: 10px 25px;
}
.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.profileDetailsHeader .profileDetailsText {
  color: var(--primaryColor);
  font-size: 1.2rem;
}
.profileDetailsHeader .changePersonalDetails {
  color: var(--secColor);
  cursor: pointer;
  font-size: 1.2rem;
}
.profileCard {
  background-color: #fff;
  width: 100%;
  padding: 20px 15px;
  border-radius: 15px;
}
.profileCard form {
  display: flex;
  flex-direction: column;
}
.profileCard form p {
  color: var(--mainGrey);
}
.profileName,
.profileEmail {
  all: unset;
  border: none;
  background-color: #fff;
  font-size: 1.1rem;
  padding: 5px;
  letter-spacing: var(--spacing);
}
.profileNameActive,
.profileEmailActive {
  all: unset;
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 1.1rem;
  padding: 5px;
  color: var(--primaryColor);
}
.addChild {
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2);
  color: var(--mainGrey);
  transition: var(--mainTransition);
}
.addChild:hover {
  color: var(--primaryColor);
}
.addChild p {
  font-size: 1.1rem;
}
.profile .kidText {
  color: var(--primaryColor);
  margin: 40px 0 20px;
  font-size: 1.2rem;
}
.profile .kidsList {
  width: 100%;
}
.itemKid {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.itemKid .itemKidLink {
  display: flex;
}
.itemKid .itemKidLink .imgBx {
  width: 120px;
  height: 120px;
}
.itemKid .itemKidLink .imgBx img {
  width: 80%;
  height: 80%;
  border-radius: 15px;
}
.itemKid .itemKidLink .itemKidDetails {
  color: var(--primaryColor);
  font-size: 1.1rem;
}
.itemKid .itemKidLink .itemKidDetails p {
  font-family: "Fredoka One", cursive;
  text-transform: capitalize;
  margin-top: 4px;
}
.itemKid .editIcon {
  margin-left: auto;
  fill: var(--mainGrey);
}
.profile svg {
  height: 23px;
  cursor: pointer;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .profile {
    padding: 50px 25px 20px;
  }
  .profile-cont {
    max-width: 720px;
  }
}
@media screen and (min-width: 1024px) {
  .profile-cont {
    max-width: 100%;
    width: min(120ch, 100% - 1rem);
    margin-inline: auto;
  }
  .profileHeader .pageHeader {
    font-size: 3.1rem;
  }
  .profileDetailsHeader .profileDetailsText,
  .profileDetailsHeader .changePersonalDetails,
  .profile .kidText {
    font-size: 1.4rem;
  }
  .profileName,
  .profileEmail,
  .profileNameActive,
  .profileEmailActive,
  .addChild p,
  .itemKid .itemKidLink .itemKidDetails p {
    font-size: 1.2rem;
  }
  .itemKid .itemKidLink .imgBx {
    width: 200px;
    height: 200px;
  }
  .itemKid .itemKidLink .itemKidDetails p {
    margin-top: 18px;
  }
  .profile svg {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .profile-cont {
    width: min(133ch, 100% - 4rem);
  }
}
