html {
  --spacing: 0.3px;
  --lineHeight: 25px;
}

.topbar {
  background-color: var(--primaryColor);
}
.topbar-wrap {
  width: min(120ch, 100% - 4rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.info {
  display: flex;
}
.info p {
  padding: 0 10px;
  border-right: 1px solid black;
  position: relative;
  font-size: 14px;
  margin-right: 10px;
}
.info p .icon {
  color: var(--secColor);
  position: absolute;
  top: 1.5px;
  left: 0;
}
.info p .text {
  padding: 0 0 0 10px;
  color: white;
}
.topLinks {
  display: flex;
}
/* .topLinks .span {
  color: white;
}
.topLinks .icon {
  color: white;
} */
.topLinks .login a {
  color: var(--primaryColor);
  background-color: white;
  padding: 17px 15px;
}
@media screen and (max-width: 1023px) {
  .topbar {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .topbar-wrap {
    width: min(133ch, 100% - 4rem);
  }
}
