html {
  --primaryColor: rgb(2, 66, 100);
  --hoverColor: rgb(21, 118, 145);
  --mainWhite: #fff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
