html {
  --primaryColor: rgb(2, 66, 100);
  --hoverColor: rgb(21, 118, 145);
  --secColor: rgb(204, 128, 77);
  --mainGrey: #686868;
  --mainBlack: #000;
  --mainWhite: #fff;
  --mainTransition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 50rem;
  --dark-blue: #1a4755;
  --primary-red: #bb2525;
  --light-red: #e66b6b;
  --light-grey: rgb(224, 222, 222);
  --radius: 0.25rem;
  --spacing: 0.1rem;
  --small-spacing: 0.5px;
  --line-height: 28px;
}

body {
  background: var(--mainWhite);
  overflow-x: hidden !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
  letter-spacing: var(--spacing);
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

button,
a {
  letter-spacing: var(--spacing);
  cursor: pointer;
  /* text-align: center; */
  font-size: 0.9rem;
  -webkit-appearance: none;
}
